git+git://github.com/drewbitt/lightnovel-crawler@master
git+git://github.com/digfish/goodreads-api-client-python
# NU, GR page number requirement
pyquery==1.4.1
# NU can have cloudfare
cloudscraper>=1.2.33
